@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

/* ------------------Header section------------------- */

#header .container {
  padding: 10px 10%;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(/Assets/images-Vishal/background.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 300px;
  height: 150px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* ------------------About section------------------- */

#about {
  padding: 80px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 10px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  color: white;
  font-weight: 500;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  cursor: pointer;
  margin-right: 50px;
  font-size: 18px;
  position: relative;
}

.tab-links::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ------------------Services section------------------- */
#services {
  padding: 30px 80px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  font-size: 13px;
  padding: 40px;
  border-radius: 10px;
  font-weight: 300;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
  width: 50px;
}

.services-list div h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}

.services-list div a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* -------------------------Portfolio----------------------------- */
#portfolio {
  padding: 30px 80px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  text-decoration: none;
  color: #ff004f;
  background: white;
  text-align: center;
  margin-top: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
}

.work img:hover {
  transform: scale(1.1);
}

.layer:hover {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* -------------------------Contacts----------------------------- */

.contact-left {
  flex-basis: 30%;
  margin-left: 50px;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 1s;
}

#leetcode{
  font-weight: 100;
}
.social-icons a :hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right form {
  width: 90%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px 0;
  background-color: #262626;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 15px 60px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
  background: #262626;
  padding: 25px 0;
}

.copyright i {
  color: #ff004f;
}

/* -------------------Adding responsiveness------------------- */

nav .fas {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header {
    background-image: url(/images-Vishal/phone-background.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    right: -200px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 13px;
  }
}

#msg {
  color: #61b752;
  margin-top: -10px;
  display: block;
}
